{% extends 'base.html' %}

{% block title %}
    关于我|{{ site_name }}
{% endblock %}

{% block content %}
    <div class="panel">
        <div class="panel-heading navbar-default"><strong>时间</strong>
        </div>
        <div class="panel-body">
            <div class="container">
                <h4>
                     2017年1月1日
                </h4>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading navbar-default"><strong>地点</strong>
        </div>
        <div class="panel-body">
            <div class="container">
                <h4>
                    北京市海淀区
                </h4>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-heading navbar-default"><strong>人物</strong>
        </div>
        <div class="panel-body">
                <h4>
		   &nbsp&nbsp&nbsp&nbsp贾寒，男，地地道道的90后！为什么要创建自己的网站？在大二开始有记笔记的习惯，就开始在网上搜罗一些笔记软件，轻笔记、onenote、腾讯微云、51cto博客、开源中国博客、印象笔记、为知笔记等等！太散乱，记录之后就没有翻看过，无意义。所以，本博客成立！
                </h4>
            </div>
    </div>
{% endblock %}
