{% extends 'base.html' %}

{% block title %}
    留言|{{ site_name }}
{% endblock %}

{% block content %}
    <div class="panel">
        <div class="panel-heading navbar-default"><strong>留言栏</strong>
        </div>

       <!-- <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
            <script>
            var cloudTieConfig = {
              sourceId: "message",
              productKey: "e53fde77481e4060b1397ad284f5b835",
              target: "cloud-tie-wrapper"
            };
            var yunManualLoad = true;
            Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
            </script>
        </div>
-->
	<!-- 多说评论框 start -->
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"51rain"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

{% endblock %}
